[submodule "docs/book/src/submodules/metal3-website"]
	path = docs/book/src/submodules/metal3-website
	url = https://github.com/fmuyassarov/metal3-website.git
[submodule "docs/book/src/submodules/metal3-book"]
	path = docs/book/src/submodules/metal3-book
	url = https://github.com/fmuyassarov/metal3-book.git
